# Exploring Project Data

The purpose of this notebook is to explore the data for the class project.

### Importing Packages

In [6]:
import numpy as np
import pandas as pd

## Practicing Markdown

You can typset as **code text** by using backticks: `df_test`.

### `df_upx` - underlying prices

In [18]:
df_upx = pd.read_csv('project_data/qqq_upx.csv')
df_upx.head(10)

         date       open       high        low      close    volume   adjusted
0  2014-01-03  87.269997  87.349998  86.620003  86.639999  35723700  82.098282
1  2014-01-06  86.660004  86.760002  86.000000  86.320000  32073100  81.795082
2  2014-01-07  86.720001  87.250000  86.559998  87.120003  25860600  82.553139
3  2014-01-08  87.139999  87.550003  86.949997  87.309998  27197400  82.733170
4  2014-01-09  87.629997  87.639999  86.720001  87.019997  23674700  82.458366
5  2014-01-10  87.230003  87.400002  86.580002  87.300003  38008900  82.723694
6  2014-01-13  87.180000  87.480003  85.680000  86.010002  48842300  81.501312
7  2014-01-14  86.300003  87.720001  86.300003  87.650002  37178900  83.055344
8  2014-01-15  88.029999  88.540001  87.940002  88.370003  39835600  83.737625
9  2014-01-16  88.300003  88.510002  88.160004  88.379997  31630100  83.747078

Note:

1. this contains daily close prices for underlying

1. this data is from Yahoo

### `df_chain` - chain description

In [15]:
df_chain = pd.read_csv('project_data/qqq_chain.csv')
df_chain.head(10)

,underlying,expiration,last_trade_date,execution,d2x,ret,realized_vol,implied_vol
0,QQQ,2014-01-10,2014-01-10,2014-01-03,5,0.007589,0.084527,0.135060
1,QQQ,2014-01-18,2014-01-17,2014-01-10,5,0.006622,0.205258,0.115958
2,QQQ,2014-01-24,2014-01-24,2014-01-17,4,-0.013057,0.189554,0.125882
3,QQQ,2014-01-31,2014-01-31,2014-01-24,5,-0.005433,0.185777,0.208544
4,QQQ,2014-02-07,2014-02-07,2014-01-31,5,0.011869,0.256532,0.178737
5,QQQ,2014-02-14,2014-02-14,2014-02-07,5,0.028346,0.062741,0.156922
6,QQQ,2014-02-22,2014-02-21,2014-02-14,4,0.001335,0.089138,0.121712
7,QQQ,2014-02-28,2014-02-28,2014-02-21,5,0.008691,0.060598,0.125441
8,QQQ,2014-03-07,2014-03-07,2014-02-28,5,0.002101,0.124754,0.094093
9,QQQ,2014-03-14,2014-03-14,2014-03-07,5,-0.020760,0.111400,0.093949

### `df_trade` - trades

In [17]:
df_trade = pd.read_csv('project_data/qqq_trade.csv')
df_trade.sort_values(['expiration', 'type'], inplace = True)
df_trade.head(25)

,underlying,expiration,execution,last_trade_date,type,strike,data_date,upx,bid,ask,delta
0,QQQ,2014-01-10,2014-01-03,2014-01-10,call,87.500000,2014-01-03,86.639999,0.24,0.25,0.277794
260,QQQ,2014-01-10,2014-01-03,2014-01-10,put,86.000000,2014-01-03,86.639999,0.35,0.37,0.339754
1,QQQ,2014-01-18,2014-01-10,2014-01-17,call,88.000000,2014-01-10,87.300003,0.26,0.28,0.312244
261,QQQ,2014-01-18,2014-01-10,2014-01-17,put,86.500000,2014-01-10,87.300003,0.26,0.27,0.284949
2,QQQ,2014-01-24,2014-01-17,2014-01-24,call,88.500000,2014-01-17,87.879997,0.25,0.26,0.319768
262,QQQ,2014-01-24,2014-01-17,2014-01-24,put,87.000000,2014-01-17,87.879997,0.21,0.23,0.256395
3,QQQ,2014-01-31,2014-01-24,2014-01-31,call,88.000000,2014-01-24,86.739998,0.39,0.40,0.295453
263,QQQ,2014-01-31,2014-01-24,2014-01-31,put,85.500000,2014-01-24,86.739998,0.48,0.50,0.297690
4,QQQ,2014-02-07,2014-01-31,2014-02-07,call,87.500000,2014-01-31,86.269997,0.32,0.33,0.276340
264,QQQ,2014-02-07,2014-01-31,2014-02-07,put,85.000000,2014-01-31,86.269997,0.38,0.39,0.273225
5,QQQ,2014-02-14,2014-02-07,2014-02-14,call,88.000000,2014-02-07,87.300003,0.37,0.38,0.335858
265,QQQ,2014-02-14,2014-02-07,2014-02-14,put,86.000000,2014-02-07,87.300003,0.32,0.33,0.261915
6,QQQ,2014-02-22,2014-02-14,2014-02-21,call,90.500000,2014-02-14,89.809998,0.23,0.24,0.296594
266,QQQ,2014-02-22,2014-02-14,2014-02-21,put,89.000000,2014-02-14,89.809998,0.24,0.25,0.278515
7,QQQ,2014-02-28,2014-02-21,2014-02-28,call,90.500000,2014-02-21,89.930000,0.32,0.33,0.345077
267,QQQ,2014-02-28,2014-02-21,2014-02-28,put,89.000000,2014-02-21,89.930000,0.28,0.29,0.280914
8,QQQ,2014-03-07,2014-02-28,2014-03-07,call,91.129997,2014-02-28,90.339996,0.31,0.33,0.305811
268,QQQ,2014-03-07,2014-02-28,2014-03-07,put,90.129997,2014-02-28,90.339996,0.51,0.53,0.458639
9,QQQ,2014-03-14,2014-03-07,2014-03-14,call,91.129997,2014-03-07,90.529999,0.31,0.32,0.326654
269,QQQ,2014-03-14,2014-03-07,2014-03-14,put,89.629997,2014-03-07,90.529999,0.30,0.31,0.299632
10,QQQ,2014-03-22,2014-03-14,2014-03-21,call,89.629997,2014-03-14,88.669998,0.44,0.45,0.318151
270,QQQ,2014-03-22,2014-03-14,2014-03-21,put,87.000000,2014-03-14,88.669998,0.45,0.49,0.275915
11,QQQ,2014-03-28,2014-03-21,2014-03-28,call,90.000000,2014-03-21,89.000000,0.28,0.30,0.284251
271,QQQ,2014-03-28,2014-03-21,2014-03-28,put,88.000000,2014-03-21,89.000000,0.39,0.40,0.300907
12,QQQ,2014-04-04,2014-03-28,2014-04-04,call,88.129997,2014-03-28,87.050003,0.41,0.45,0.316864

### `df_pnl` - pnls for each trade

In [19]:
df_pnl = pd.read_csv('project_data/qqq_pnl.csv')
df_pnl.sort_values(['expiration', 'strike', 'data_date'], inplace = True)
df_pnl.head(25)

,underlying,upx,expiration,type,strike,data_date,bid,ask,delta,dly_opt_pnl,dly_dh_pnl,dly_tot_pnl
1516,QQQ,86.639999,2014-01-10,put,86.0,2014-01-03,0.35,0.37,0.339754,-0.02,0.000000,-0.020000
1517,QQQ,86.320000,2014-01-10,put,86.0,2014-01-06,0.36,0.38,0.401342,-0.01,0.108721,0.098721
1518,QQQ,87.120003,2014-01-10,put,86.0,2014-01-07,0.12,0.13,0.184628,0.25,-0.321075,-0.071075
1519,QQQ,87.309998,2014-01-10,put,86.0,2014-01-08,0.04,0.05,0.089906,0.08,-0.035078,0.044922
1520,QQQ,87.019997,2014-01-10,put,86.0,2014-01-09,0.05,0.06,0.122757,-0.01,0.026073,0.016073
1521,QQQ,87.300003,2014-01-10,put,86.0,2014-01-10,0.00,0.00,0.000000,0.06,-0.034373,0.025627
0,QQQ,86.639999,2014-01-10,call,87.5,2014-01-03,0.24,0.25,0.277794,-0.01,0.000000,-0.010000
1,QQQ,86.320000,2014-01-10,call,87.5,2014-01-06,0.10,0.11,0.165211,0.14,-0.088894,0.051106
2,QQQ,87.120003,2014-01-10,call,87.5,2014-01-07,0.27,0.28,0.360736,-0.17,0.132169,-0.037831
3,QQQ,87.309998,2014-01-10,call,87.5,2014-01-08,0.32,0.34,0.468759,-0.06,0.068538,0.008538
4,QQQ,87.019997,2014-01-10,call,87.5,2014-01-09,0.12,0.13,0.271595,0.21,-0.135941,0.074060
5,QQQ,87.300003,2014-01-10,call,87.5,2014-01-10,0.00,0.00,0.000000,0.13,0.076048,0.206048
1522,QQQ,87.300003,2014-01-18,put,86.5,2014-01-10,0.26,0.27,0.284949,-0.01,0.000000,-0.010000
1523,QQQ,86.010002,2014-01-18,put,86.5,2014-01-13,0.78,0.80,0.638463,-0.53,0.367584,-0.162416
1524,QQQ,87.650002,2014-01-18,put,86.5,2014-01-14,0.11,0.12,0.171490,0.68,-1.047079,-0.367079
1525,QQQ,88.370003,2014-01-18,put,86.5,2014-01-15,0.03,0.04,0.066611,0.08,-0.123473,-0.043473
1526,QQQ,88.379997,2014-01-18,put,86.5,2014-01-16,0.02,0.03,0.053061,0.01,-0.000666,0.009334
1527,QQQ,87.879997,2014-01-18,put,86.5,2014-01-17,0.00,0.00,0.000000,0.03,0.026531,0.056531
6,QQQ,87.300003,2014-01-18,call,88.0,2014-01-10,0.26,0.28,0.312244,-0.02,0.000000,-0.020000
7,QQQ,86.010002,2014-01-18,call,88.0,2014-01-13,0.03,0.04,0.063572,0.24,-0.402795,-0.162795
8,QQQ,87.650002,2014-01-18,call,88.0,2014-01-14,0.27,0.28,0.377409,-0.24,0.104258,-0.135742
9,QQQ,88.370003,2014-01-18,call,88.0,2014-01-15,0.48,0.50,0.623486,-0.22,0.271735,0.051735
10,QQQ,88.379997,2014-01-18,call,88.0,2014-01-16,0.37,0.40,0.686514,0.10,0.006231,0.106231
11,QQQ,87.879997,2014-01-18,call,88.0,2014-01-17,0.00,0.00,0.000000,0.40,-0.343257,0.056743
1528,QQQ,87.879997,2014-01-24,put,87.0,2014-01-17,0.21,0.23,0.256395,-0.02,0.000000,-0.020000

### `df_vol_index` - volatility index

In [20]:
df_vol_index = pd.read_csv('project_data/qqq_vol_index.csv')
df_vol_index.head()

       Date  Open  High  Low  Close
0  2/2/2001   NaN   NaN  NaN  54.89
1  2/5/2001   NaN   NaN  NaN  55.85
2  2/6/2001   NaN   NaN  NaN  53.68
3  2/7/2001   NaN   NaN  NaN  54.41
4  2/8/2001   NaN   NaN  NaN  54.66